In [8]:
import numpy as np
from definitions import path_join, make_directory, EXPERIMENTS_DIR, VENSIM_MODELS_DIR, logging, DATA_DIR

In [9]:
args = {
    'model_name': 'medical',
    'experiment_name': 'medical_new_prn',
    'need_retrain': True,
    'learning_rate': 1e-1,
    'epochs_before_decay': 0.1,
    'epochs_count': 50,
    'learning_rate_decay': 1/3,
    'iterations_count': 300,
}

In [10]:
KNOWN_MODEL = 'unknown model'

In [11]:
import tensorflow as tf

general_params = \
    {
        'phi_h': tf.keras.activations.linear,
        'phi_o': tf.keras.activations.linear,
    }

train_params = \
    {
        'learning_rate': args['learning_rate'],
        'epochs_before_decay': args['epochs_before_decay'],
        'epochs_count': args['epochs_count'],
        'learning_rate_decay': args['learning_rate_decay'],
    }

In [12]:
model_name = args['model_name']
need_train = bool(args['need_retrain'])
mode = KNOWN_MODEL

experiment_name = args['experiment_name']
experiment_dir = path_join(EXPERIMENTS_DIR, experiment_name)
make_directory(experiment_dir)

tf_model_dir = path_join(experiment_dir, 'tf_model')
make_directory(tf_model_dir)

images_dir = path_join(experiment_dir, 'images')
make_directory(images_dir)

log_path = path_join(experiment_dir, 'log.log')
logging.basicConfig(filename=log_path, level=logging.INFO)

vensim_model_file = path_join(VENSIM_MODELS_DIR, '{}.mdl'.format(model_name))

prn_model_dir = path_join(tf_model_dir, 'prn_model')
nn_model_dir = path_join(tf_model_dir, 'base_nn_model')
make_directory(prn_model_dir)
make_directory(nn_model_dir)

dataset_file = '{}_dataset.csv'.format(model_name)

In [16]:
dataset_dir = path_join(DATA_DIR, model_name)
dataset_file_name = 'periodic_12H_time.csv'
dataset_file_path = path_join(dataset_dir, dataset_file_name)
dataset_file_path

'C:\\Users\\HWer\\Documents\\GitHub\\SDtoPRN\\data\\medical\\periodic_12H_time.csv'

In [17]:
import pandas as pd

In [20]:
data = pd.read_csv(dataset_file_path, delimiter='\t')

In [21]:
data.head()

,patient_id,epizod_id,start_date,end_date,data,sex,age,sd,activ,result,...,Holesterin,pressure,condition,timedelta,event_timedelta,duration,Bleeding,Contrast-induced nephropathy,Stress-induced hyperglycemia,Systemic inflammatory response
0,100026,429642,201503160000,201503170000,199901010000,1.0,82.0,0.0,0,1.0,...,1.39,115.00,2.0,17.33,0.0,105.32,0.0,0.0,0.0,0.0
1,100026,429642,201503160000,201503170000,199901010000,1.0,82.0,0.0,0,1.0,...,1.47,145.41,2.0,29.33,0.0,105.32,0.0,0.0,0.0,0.0
2,100026,429642,201503160000,201503170000,199901010000,1.0,82.0,0.0,0,1.0,...,1.48,132.50,2.0,41.33,0.0,105.32,0.0,0.0,0.0,0.0
3,100026,429642,201503160000,201503170000,199901010000,1.0,82.0,0.0,0,1.0,...,1.48,113.79,2.0,53.34,0.0,105.32,0.0,0.0,0.0,0.0
4,100026,429642,201503160000,201503170000,199901010000,1.0,82.0,0.0,0,1.0,...,1.48,120.12,2.0,65.33,0.0,105.32,0.0,0.0,0.0,0.0

In [25]:
dataset_dir = path_join(DATA_DIR, 'final')
dataset_file_name = 'dataset.csv'
dataset_file_path = path_join(dataset_dir, dataset_file_name)
dataset_file_path

'C:\\Users\\HWer\\Documents\\GitHub\\SDtoPRN\\data\\final\\dataset.csv'

In [26]:
data = pd.read_csv(dataset_file_path, delimiter='\t')
data.head()

,patient_id,epizod_id,start_date,event_date,end_date,data,sex,age,sd,activ,...,Holesterin,pressure,condition,timedelta,event_timedelta,duration,Bleeding,Contrast-induced nephropathy,Stress-induced hyperglycemia,Systemic inflammatory response
0,22302,321,201601190000,201601190000,201601220000,199901010000,1.0,78.0,0.0,0,...,NaN,125.0,1.0,0.00,0.0,54.18,1,0,0,0
1,22302,321,201601190000,201601202237,201601220000,199901010000,1.0,78.0,0.0,0,...,NaN,120.0,1.0,46.62,0.0,54.18,1,0,0,0
2,22302,321,201601190000,201601210611,201601220000,199901010000,1.0,78.0,0.0,0,...,NaN,110.0,1.0,54.18,0.0,54.18,1,0,0,0
3,22302,321,201601190000,201601220000,201601220000,199901010000,1.0,78.0,0.0,0,...,NaN,115.0,1.0,72.00,0.0,54.18,1,0,0,0
4,22342,440,201410060000,201410060946,201410090000,199901010000,0.0,68.0,0.0,0,...,NaN,NaN,NaN,9.77,0.0,47.45,0,0,0,0